.form{
    max-width: 600px;
    width: 100%;
    margin: 100px auto;
    text-align: center;
    background-color: #eeeeee84;
    border-radius: 50px;
}

.from__fieldset{
    border:none;
    padding: 20px;
}

.from__legend{
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.labelText {
    display: inline-block;
    max-width: 120px;
    width: 100%;
    margin-right: 5px;
    text-align: start;
}

.form__input{
    max-width: 250px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.form__button{
    width: 50%;
    margin: 10px 0;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.form__result{
    padding: 10px;
    font-weight: 900;
}