html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Lobster Two", sans-serif;
    background-image: url("../img/back.png");
    background-size: cover;
}

